.Container4{
	background-image: url("./img/Container4_background.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 790px;
	width: 100%;
}

.Container4-title{
	background-image: url("./img/Container4_title.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 25%;
	height: 20%;
	margin-left: 2%;
	
	display: block;
}

.Container4-center{
	width: 100%;
	height: 80%;
}

.Container4-text{
	font-size: 30px;
	width: 54%;
	margin-left: 3%;
	display: inline-block;
}

.Container4-picture{
	background-image: url("./img/Container4_pic.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40%;
	height: 63%;
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	/*請華夏同學從這裡開始進行RWD的排版*/
}