@font-face {
  font-family: MFinance;
  src: url('../ttf/MFinanceHK-Bold.ttf');
}

*{
  font-family: MFinance;
}

.NavBar {
  text-align: center;
}

.NavBar-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .NavBar-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NavBar-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar-link {
  color: #61dafb;
}

.NavBar-orange{
  background-color: #ffb001;
}

.Container1{
  height: 56px;
  z-index: 9;
  position: sticky;
  top:0;
}

.Button-Container{
  margin:auto;
}

.NavBar-Button1{
  text-decoration:none;
  color: white;
  font-size: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

.NavBar-Button2{
  text-decoration:none;
  color: white;
  font-size: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

.NavBar-Button3{
  text-decoration:none;
  color: white;
  font-size: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

.NavBar-Button4{
  text-decoration:none;
  color: white;
  font-size: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

.NavBar-Button5{
  text-decoration:none;
  color: white;
  font-size: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

.NavBar-Button6{
  background-image: url("./img/NavButton6.png");
  width: 195px;
  height: 42px;
}

.NavBar-Button7{
  background-image: url("./img/NavButton7.png");
  width: 149px;
  height: 42px;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  /*請華夏同學從這裡開始進行RWD的排版(先從這開始)*/
}