.Container5{
	background-image: url("./img/Container5_background.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 1448px;
}

.Container5-title{
	font-size: 52px;
	color:#90cae0;
}

.Container5-center{
	height: 30%;
}

.Container5-pic1{
	background-image: url("./img/Container5_picture1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20%;
	width: 20%;
	height: 100%;
	display: inline-block;
}

.Container5-pic2{
	background-image: url("./img/Container5_picture2.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 100%;
	display: inline-block;
}

.Container5-pic3{
	background-image: url("./img/Container5_picture3.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 100%;
	display: inline-block;
}

.Container5-bottom{
	margin-top: 10%;
	height: 40%;
}

.Container5-text{
	font-size: 30px;
	width: 54%;
	margin-left: 3%;
	display: inline-block;
}

.Container5-picture{
	background-image: url("./img/Container5_picture4.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40%;
	height: 95%;
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	/*請華夏同學從這裡開始進行RWD的排版*/
}